body {
  background-color: #ccc;
}

.container-todo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-todo .todo-header {
  width: 100%;
  height: auto;

  background-color: #24221f;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
}

.container-todo .todo-header .home-perfil {
  height: 45px;
  width: 45px;

  border-radius: 50%;
  /* border: 4px solid #ffc632; */
}

.container-todo .todo-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 10px;

  background-color: #fff;
}

.container-todo .todo-nav .todo-tasks-adicionadas,
.todo-tasks-concluidas {
  width: 50%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #24221f;

  font-weight: 600;
}

.container-todo .todo-main {
  max-width: 790px;
  width: 100%;

  margin-top: 20px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

   
  /* .container .todo-header img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-left: 7px;
  } */


.container-todo .todo-header div {
  display: flex;
  align-items: center;
}

.container-todo .todo-title2 {
  font-size: 50px;

  text-align: center;

  margin-top: 80px;
  margin-bottom: 10px;

  color: #24221f;
}

@media (max-width: 488px) {
  .container-todo .todo-title2 {
    font-size: 20px;
  }

  .container-todo .todo-main {
    width: 70%;
  }
}

.container-todo .todo-input {
  width: 100%;
  padding: 24px;

  background: #e6e6e6;
  border-radius: 5px;
  border: none;

  font-size: 16px;

  box-shadow: 8px 6px 8px #24221f;
  
  /* transition: .4s ease-in-out; */
}
/* 
.container-todo .todo-input:hover{
  border-left: 12px solid #24221f;

  transition: .4s ease-in-out;
} */

.container-todo .todo-btn {
  width: 100%;

  padding: 24px;
  margin-top: 300px;

  font-weight: 700;

  background: #ffc632;
  color: #201f1e;

  border-radius: 5px;
  margin: 30px 0 84px;
  border: none;

  cursor: pointer;
  transition: filter 0.2s;

  font-size: 16px;

  transition: .4s ease-in-out;
}

.container-todo .todo-btn:hover {
  filter: brightness(0.6);

  transition: .4s ease-in-out;
}

.container-todo .home-exit {
  color: #24221f;
  font-size: 20px;
}

.container-todo .home-exit:hover {
  filter: brightness(0.6);

  /* color: #ffc632; */

  transition: .4s ease-in-out;
}

/* .home-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        background-color: #ccc;
    
        height: 100vh;
        width: 100vw;
    }
    
    .home-title{
        color: #24221f;
    
        margin-bottom: 30px;
    }
    
    .home-input{
        width: 380px;
    
        padding: 15px;
    
        border-radius: 10px;
        border: none;
        outline: none;
        border-left: 10px solid rgb(39, 226, 39);
    
        box-shadow: 6px 4px 4px #24221f;
    
        margin-bottom: 20px;
    }
    
    .home-input::placeholder{
        color: #24221f;
    
        font-size: 15px;
    
        letter-spacing: .4px;
    }
    
    .home-button{
        padding: 15px;
    
        width: 380px;
    
        border-radius: 10px;
        border: none;
        outline: none;
    
        background-color: rgb(39, 226, 39);
    
        margin-bottom: 20px;
    }
     */
