.card {
    height: 100%;
    width: 100%;
  
    background: #735bf2;
    color: #fff;
  
    border-radius: 10px;
    margin-bottom: 20px;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
  }
  
  .card strong {
    font-size: 18px;
  }

  button{
    background-color: transparent;
    border: none;
    outline: none;
  }