.card {
  height: 100%;
  width: 100%;

  background: #201f1e;
  color: #fff;

  border-radius: 10px;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.card .todo-section {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}

.card .todo-strong {
  font-size: 18px;
}

.buttons-todo {
  display: flex;
}

.card .todo-small {
  font-size: 10px;
}

.todo-button-delete {
  background-color: transparent;
  border: none;
  outline: none;

  transition: all 0.5s;
  cursor: pointer;
}

.todo-button-delete:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.3);
}

.todo-button-edit {
  background-color: transparent;
  border: none;
  outline: none;

  transition: all 0.5s;
  cursor: pointer;

  padding-right: 10px;
}

.todo-button-edit:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.3);
}
