body {
  margin: 0;
}

.container {
  display: flex;
  width: 100%;

  .img1 {
    position: absolute;
    top: 11px;
    left: 12px;
  }

  .backimage {
    width: 50%;
    height: 100vh;

    background-color: #24221f;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 964px) {
      display: none;
    }
  }

  .content {
    width: 50%;
    height: 100vh;

    background-color: #24221f;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 964px) {
      width: 100%;
      height: 100vh;

      padding: 10px;
    }
  }

  .content-container {
    width: 450px;
    height: auto;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-radius: 4px;

    background-color: #24221f;

    @media screen and (max-width: 488px) {
      width: 320px;

      padding: 10px;
    }

    //Header
    .title {
      display: flex;
      flex-direction: column;

      margin-bottom: 27px;

      .header-title {
        display: flex;
        align-items: center;

        h1 {
          color: #d4ccb6;

          font-size: 30px;
          font-weight: 600;
          line-height: 36px;
        }
      }
      p {
        color: #afb6c2;
      }
    }

    form {
      .input-email,
      .input-pass {
        display: flex;
        flex-direction: column;
      }

      .inputs-icon-email,
      .inputs-icon-pass {
        position: relative;
      }

      input {
        width: 334px;

        padding: 10px;
        padding-left: 25px;

        margin-bottom: 20px;

        background-color: transparent;

        outline: none;
        border: 1px solid #868686;
        border-radius: 4px;

        color: #868686;
        font-size: 14px;

        transition: 0.4s ease-in-out;

        &:hover {
          border: 1px solid #ffc632;
        }

        @media screen and (max-width: 488px) {
          width: 260px;
        }
      }

      .envelope,
      .locksimple {
        position: absolute;
        top: 9px;
        padding-left: 4px;
      }

      .label-input-email,
      .label-input-pass {
        color: #afb6c2;

        margin-bottom: 10px;
      }

      p {
        color: #afb6c2;

        margin-bottom: 10px;

        font-size: 16px;
        font-weight: 500;
      }

      .btnbtn {
        position: absolute;
        top: 9px;
        left: 300px;

        @media screen and (max-width: 488px) {
          left: 235px;
        }
      }

      .btn {
        background-color: transparent;
        outline: none;
        border: none;

        //padding-left: 95px;
      }
    }

    .forgotPassword {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-bottom: 20px;

      a {
        color: #ffc632;
        font-size: 14px;

        padding-left: 70px;

        @media screen and (max-width: 488px) {
          padding-left: 30px;
        }
      }

      .remember-me {
        display: flex;
        align-items: center;

        #check {
          display: none;
        }

        .checkbox-label {
          display: flex;
          align-items: center;

          cursor: pointer;
        }

        .checkbox-label::before {
          content: "";
          display: block;
          height: 1.2rem;
          width: 1.2rem;
          box-sizing: border-box;
          border-radius: 4px;
          border: 1px solid #868686;
          transition: 0.1s ease-in-out;
        }

        #check:checked + .checkbox-label::before {
          background-color: #ffc632;
          border: 2px solid #ffc632;
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M21 6.285l-11.16 12.733-6.84-6.018 1.319-1.49 5.341 4.686 9.865-11.196 1.475 1.285z'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center center;
        }
        p {
          margin-left: 5px;

          color: #868686;

          font-size: 15px;
        }
      }

      a {
        color: #ffc632;

        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;

        transition: 0.4s ease-in-out;

        &:hover {
          filter: brightness(0.6);

          transition: 0.4s ease-in-out;
        }
      }
    }

    .send-btn {
      width: 334px;
      height: 51px;

      background-color: #ffc632;
      color: #473404;

      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;

      letter-spacing: 0.015em;
      text-transform: uppercase;

      border: none;
      border-radius: 4px;

      margin-bottom: 20px;

      transition: 0.4s ease-in-out;

      @media screen and (max-width: 488px) {
        width: 260px;
      }
    }

    .send-btn:hover {
      filter: brightness(0.6);

      transition: 0.4s ease-in-out;
    }

    .footer {
      display: flex;

      p {
        color: #ffc632;
      }

      a {
        margin-left: 3px;

        color: #ffc632;

        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;

        transition: 0.4s ease-in-out;

        &:hover {
          filter: brightness(0.6);

          transition: 0.4s ease-in-out;
        }
      }
    }
  }

  .home {
    font-size: small;
    color: #24221f;
  }
}
.backimage {
  background-image: url("../../assets//side-image.jpg");
  background-size: cover;
}
